---
import BlendedImage from './BlendedImage.astro';
import FormattedDate from './FormattedDate.astro';
import type { Post } from '../content/types';

interface Props {
  post: Post;
  baseUrl: string;
}

const { post, baseUrl } = Astro.props;
const { title, pubDate } = post.data;
---

<li>
  <a href={`${baseUrl}${post.slug}/`} class="group block no-underline transition duration-200 ease-in-out rounded-lg relative">
    <div class="mb-3">
      <BlendedImage 
        slug={post.slug}
        title={title}
        hover={true}
        rounded={true}
      />
    </div>
    <h4 class="title m-0 min-h-10 leading-5 mb-1">{title}</h4>
    <p class="date m-0 text-gray-400 text-sm">
      <FormattedDate date={pubDate} />
    </p>
  </a>
</li>
