---
import type { Post } from '../content/types';
import NavigationLink from './NavigationLink.astro';

interface Props {
  prevPost: Post | null;
  nextPost: Post | null;
  baseUrl: string;
  backText: string;
}

const { prevPost, nextPost, baseUrl, backText } = Astro.props;

export function generateShortTitle(title: string) {
  return title.split(':')[0].trim();
}
---

<nav class="flex justify-between items-center mb-6 gap-8">
  <div class="flex-none">
    <NavigationLink baseUrl={baseUrl} direction="back">
      {backText}
    </NavigationLink>
  </div>
  <div class="flex gap-8">
    <NavigationLink post={prevPost} baseUrl={baseUrl} direction="prev" />
    <NavigationLink post={nextPost} baseUrl={baseUrl} direction="next" />
  </div>
</nav>
