---
import WorkExperienceDate from './WorkExperienceDate.astro';
import WorkExperienceTitle from './WorkExperienceTitle.astro';

interface Props {
  start: string;
  end?: string;
  company: string;
  role: string;
  id?: string;
}

const { company, role, start, end = '', id } = Astro.props;
---

<div id={id} class="space-y-2">
  <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-1">
    <div class="flex flex-col">
      <WorkExperienceTitle company={company} role={role} />
    </div>
    <WorkExperienceDate start={start} end={end} />
  </div>
  {Astro.slots.has('default') && <div class="text-gray-600 dark:text-gray-400 text-content-secondary">
    <slot/>
  </div>}
</div>
